body {
    font-family: sans-serif;
    /*padding: 0em 0.5em 1em 0.5em;*/
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (orientation:portrait) {
	.option{
		width: 100%;
		margin-left: 0%;
	}
}

@media (min-width:768px) {
  .container {
    width: 100%;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width:992px) and (min-resolution:100dpi) and (orientation:portrait) {
	.btn-block{
		font-size: 32px;
		height: 120px;
	}
	.btn{
		font-size: 32px;
	}
}

.hsganswer{
      width: 80px;
	padding-left: auto;
	padding-right: auto;
	margin-left: auto;
	margin-right: auto;
}
    
.statement {
    min-height: 90px;
}

#thesesbox{
	min-height: 250px;
}


.top-buffer { 
    margin-top:80px; 
}

.bottom-buffer { 
    margin-bottom:60px; 
}

.pagination > .pagination-yes > a {
    color: #FFF;
    background-color: #5CB85C;
}
.pagination > .active.pagination-yes > a {
    color: #FFF;
    background-color: #428BCA;
}
.pagination > .pagination-neutral > a {
    color: #FFF;
    background-color: #F0AD4E;
}
.pagination > .active.pagination-neutral > a {
    color: #FFF;
    background-color: #428BCA;
}
.pagination > .pagination-no > a {
    color: #FFF;
    background-color: #D9534F;
}
.pagination > .active.pagination-no > a {
    color: #FFF;
    background-color: #428BCA;
}

.progress {
	margin-bottom: 0px;
}

@media (min-width:767px) {

.mow-container {
    width: 700px;
}
  
.mow-container .form-horizontal .controls {
    text-align: center;
    /*margin-left: 130px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}